/* height ususally fixed px and width usually responsive % */

#introDiv {
	/*When done, take common attributes and create class displayDiv*/
	width:60%;
	height: 60%; /*Doesn't do anything... */
	margin-top: 5%; /*Might have logo above, stack underneath as neccessary... or logo on main page and seperate from div?*/
	margin-left: auto;
	margin-right: auto;
	background-color: #999; /* Adjust later */
	text-align: center;
	padding-top: 2%;
	padding-bottom: 2%;
	/* display:none; use this when switching states */
	
	color: white;
	

}

#introDiv img {
	width: 100%;
	margin-bottom: 3%;
}

#questionDiv {
	
	width: 60%;
	margin-top: 5%;
	margin-left: auto;
	margin-right: auto;
	padding-top: 1%;
	text-align: center;
	background-color: #999;
	
	color: white;
	
	display: none;
	
}

#questionDiv img {
	width: 100%;
	display: block;
}

#question {
	
}

/*--------------------------------------------------------------------*/

.ansBtn {	
	display: block;
	width: 100%;
	
	background-color: #777;
	border: 1px solid black;
	color: white;
	padding: 15px 32px;
	text-align: center;  
	
	font-size: 16px;
	cursor: pointer;
	
}

.ansBtn:hover {
	background-color: #555;
}


#ansBtnGrp .ansBtn:not(:last-child) {
	border-bottom: none;
}

/*------------------------------------------------------------------*/

.appBtn {
	background-color: #4CAF50;
	border: 1px solid green;
	color: white;
	padding: 15px 32px;
	text-align: center;  

	font-size: 16px;
	cursor: pointer;
}

.appBtn:hover {
	background-color: #3e8e41;
}



#nextBtn {
	display: none;
	margin-top: 15px;
	margin-bottom: 15px;
}


